body {
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #e5e9ec;
    display: flex;
    align-items: center;
    padding: 24px;
    justify-content: space-around;
    font-family: 'dead-saloon';
}

ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    gap: 24px;
    margin-left: auto;
}


body {
    margin: 0;
    min-height: 100vh;
    display: flex;
}

a {
    /* this removes the line under the links */
    text-decoration: none;
    color: black;
  }
  

.logo {
    display: flex;
    align-items: center;
    gap: 24px;
    font-size: 24px;
}

@font-face {
    font-family: 'dead-saloon';
    src: url("./fonts/thedeadsaloon-Regular.ttf") format('truetype');
}


.below {
    background-color: #e5e9ec;
    display: flex;
    padding: 48px;
    justify-content: center;
    font-family: 'dead-saloon';

}

.main-info {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 500px;
    gap: 16px;
}

.slogan {
    font-size: 48px;
    font-weight: 800;
}

.small-info {
    font-size: 18px;
    color: #333333
}

.main-image {
    flex: 1;
    max-width: 500px;
}